<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'weather/index.css' %}" rel="stylesheet" />
    <script src="{% static 'weather/main.js' %}" defer></script>
    <title>Document</title>
</head>
<body>
    <form>
        <label for="city">Type in the city to see the weather</label>
        <div>
            <input id="city" type="text" name="city">
            <button>Search</button>
        </div>
    </form>
</body>
</html>