body {
   padding: 10px; 
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

form > label {
    font-size: 2rem;
    font-family: Verdana;
}
form input, form button {
    padding: 5px;
    font-size: 1.3rem;
}

form input[type=text] {
    min-width: 300px;
    margin-right: 1rem;
}